body{
    background-color:rgba(197, 197, 197, 0.959);
    
}
/*section{
    width: 200px;
}*/
.container{
background-image:url("../img/map.jpg");
height:500px; /* */
width:100%;
border-radius:10px; /**/

}
/**/
#pagecontact{
    background-color: black;
    margin: 100px;
    border-radius: 20px;
    
}
main{
    background-color:white;
    width: 100%;
    text-align: center;
    height: 600px;
    margin-top: -50px;
    
    
    
    
}
div.b {
    position: absolute;
    right: 100px; /**/
    width: fit-content;
    height: fit-content;
    
  } 

h1{
    color:white;
    position:absolute;
  bottom:250px;
  left: 100px;
  font-size: 4em;
}
#cadre{
    border-radius: 10px;
}
 #upload {
     width:25px;
     height:25px;
     margin-top:10px;
 }

footer{
    margin-top:20px;
    color:white;
    display: flex;
    justify-content : space-around;
}
#adress ul{
  list-style-type: none; 
  padding:0;
  margin:0;
}
h6 , span{
    color:rgb(114, 109, 109);
}
img{
    height: 40px;
    width: 40px;
}
#follow{
    margin-top:50px;
    /*display:flex;
    justify-content: space-between; 
    padding-right:10px;*/
}



